html{
	font-family: 'Nunito', sans-serif;
	
}

body{
	padding: 0 0;
	margin: 0 0;
	background-color: #eeeeee;
	color: #ffffff;
}

p{
	margin: 0 0;
}

li:hover { 
	background-color: #e0e0e0;  
}

.status {
	float:right;
	padding-top: 5px;
    padding-right: 9px;
}

.nextlyric {
	font-size: 12px;
}

.lyrics {
	background-color: #38aecc;
}

.flexcontainer {
	background-color: #38aecc;
	display:flex;
	flex-direction:column;
	flex-wrap: nowrap;
	align-items: center;
}

.flexcontainer > h3 {
	background-color: #38aecc;
}

.mainmenubtn{
	font-size: 20px;
}

.wrapper{
	height: 460;
	width: 100%;
}

.section{
	background-color: #38AECC;
	height: 100%;
	margin: 4vw 15vw;
	width: 70vw;
	transition: all 0.5s ease;
}

.content{
	text-align: center;
	background-color: #38AECC;
}

.text{
	padding: 40px 25px;
}

.text p{
	margin: 10px 0px;
}

.image{
	flex: 0 0 20vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

a{
	color: #eeeeee;
}

img{
	width: 100%;
	height: auto;
}

h2{
	font-size: 18px;
	font-weight: 300;
}

h3{
	background-color: #0090C1;
	font-weight: 700;
	font-size: 24px;
	padding: 12.5px 5vw;
	margin: 0 0;
	text-align: center;
}

.subtitle{
	background-color: #38AECC;
	padding: 2px 15vw;
}

.header{
	height: 40vh;
}

.header-img{
	height: 100%;
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.header-text{
	box-sizing: border-box;
	position: absolute;
	border-radius: 10px;
	top: 20vh;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgb(4, 7, 175, 0.8);
	padding: 20px 50px;
}

.slideup{
	animation: slideup 0.0s forwards;
	-webkit-animation: slideup 0.0s forwards;
}

@-webkit-keyframes slideup {
	0% {height: initial;  visibility: visible; }
	100% { height: 0vh; visibility: hidden; margin: 0 0}
}

@keyframes slideup {
	0% { height: initial; visibility: visible; }
	100% { height: 0vh; visibility: hidden; margin: 0 0}
}

.barOuter{
	background-color: #333333;
	width: 100%;
}

.barInner{
	background-color: #9b0000;
}

#myProgress{
	width:100%;
	background-color: grey;
	border-radius: 25px;
}

#myBar{
	width: 1%;
	height: 15px;
	background-color: green;
	border-radius: 25px;
}